.Navbar {
    width: 100%;
    display: flex;
    background-color: #032541;
    position: fixed;
    top: 0;
    left: 0;
    height: 9%;
    color: white;
}
.nav {
    display: flex;
    align-items: center;
}

.content {

    padding-left: 100px;
}
.logo {

    height: 20px;
}

ul {
    margin-top: 60px;


}
ul li {
    list-style-type: none;
    display: inline;
    margin: 0 10px 0 10px;
}